@charset "utf-8";
/* CSS Document */

.quote {
	padding-top: 20px;
	overflow: hidden; 
	line-height: 150%;
	
}
.quote:before {
	display: block;
	float: left;
	margin: 20px 15px 10px 0;
	font-size: 80px; 
	content: open-quote; 
	text-shadow: 0 1px 1px #909090;
}
.quote:after {
	content: none;
	}