AddType x-mapp-php5 .php
AddHandler x-mapp-php5 .php

Options -MultiViews
RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)$ $1.php [L]
RewriteRule /UserMileage /userMileage.php
